<h2>가카오 리뷰 소개</h2>

<div>
  <b>가카오 리뷰</b>는 자신의 채팅을 저장하여 관리하거나, 재미있는 채팅 내역을 만들 수 있는 서비스입니다. 저장한 채팅은 공유 기능을 통해 <b>가카오 리뷰</b> 사이트나 외부 사이트에 공유할 수 있습니다.

  <h4>저장</h4>
  <div>
    저장 기능은 자신이 메신저에서 사용한 채팅 내역을 사이트에 저장하고 간단히 관리할 수 있도록 해줍니다. 저장은 두 가지 방법으로 가능합니다.
    <h5>이메일</h5>
    <div>
      대화목록 내보내기 후 회원가입 하신 '아이디@도메인.컴'으로 해당 대화를 이메일로 보내주세요. 보내주신 대화내역은 자동으로 저장됩니다.
    </div>
    <h5>파일</h5>
    <div>
      안드로이드의 경우 SD카드에 저장한 대화목록을 직접 업로드 할 수 있습니다.
    </div>
  </div>

  <h4>만들기</h4>
  <div>
    채팅 내역을 임의로 만드는 것도 가능합니다. 대화만들기를 선택하고 채팅을 입력해주세요. 만든 채팅도 저장한 채팅들과 동일하게 공유할 수 있습니다.
  </div>

  <h4>공유</h4>
  <div>
    저장된 채팅 중 원하는 부분을 선택하여 공유해보세요. 공유한 내용은 <b>가카오 리뷰</b>에서도 볼 수 있고 외부 사이트로 퍼갈수도 있습니다.
  </div>
</div>
