<ul class="nav nav-list">
  <% @chats.each do |chat| %>
  <li><%= link_to chat.title, chat %></li>
  <% end %>
  <li class="nav-header">업로드한 대화</li>
  <% @chats.uploaded.each do |chat| %>
  <li><%= link_to chat.title, chat %></li>
  <% end %>
  <li class="divider"></li>
  <li class="nav-header">만든 대화</li>
  <% @chats.created.each do |chat| %>
  <li><%= link_to chat.title, chat %></li>
  <% end %>
  </li>
</ul>

<div>
  <%= link_to '대화만들기', new_chat_path, :class => 'btn btn-large btn-block' %>
</div>
