<ul class="nav nav-list">
  <li class="nav-header">CHAT LIST</li>
  <% @chats.each do |chat| %>
  <li><%= link_to chat.title, chat %></li>
  <% end %>
  <li class="divider"></li>
</ul>

<div>
  <%= link_to 'New Chat', new_chat_path, :class => 'btn btn-large btn-block' %>
</div>
