<div class = "chatBackground">
	<div class = "chatColorBackground">
	</div>
	<div class = "chatImageBackground">
	</div>
</div>

<div class = "chatContainer">
	<div class = "chatScreen">
		<p>
			<b>Title:</b>
			<%= @chat.title %>
		</p>

		<% if @chat.chatfile? %>
			<%= html_maker(@chat.parse_file).html_safe %>
		<% end %>
	</div>
</div>

