<div class = "chatContainer">
  <div class = "chatScreen">
    <div class = "chat_list">

      <% if @chat.chatfile? %>
        <%= html_maker(@chat.parse_file).html_safe %>
      <% end %>
    </div>
  </div>
</div>
