// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  padding-top: 45px;
}
.brand {
  padding-left: 50px !important;
}
#content_box {
  //overflow-y: scroll;
}
#chat_list {
  list-style: none;
  li {
    height: 30px;
    margin-bottom: 5px;
    span.name {
      font-size: 8pt;
      display: block;
      margin-bottom: -5px;
    }
    span.message {
      font-size: 11pt;
      margin-left: 7px;
    }
    span.time {
      font-size: 7pt;
      margin-left: 5px;
    }
  }
}

