body {
  font-family: sans-serif;
}

#loginScreen {
  text-align:center;
}

#user_username {
  text-align:center;
  width:70%;
  height:30px;
  font-size:23px;
}

#user_password {
  text-align:center;
  width:70%;
  height:30px;
  font-size:23px;
}

#loginButton input[type="submit"] {
  width:150px;
  height:35px;
}

.chatContainer {
  position:absolute;
  width:100%;
  left: 0px;
  top: 0px;
  word-wrap:break-word;
}

.chatContainer p {
  margin:0px;
}

.emoticon {
  margin-bottom:-5px;
}

.emoticon img{
  width:21px;
  height:auto;
  vertical-align:text-top;
  margin-top:-2px;
}
/*.chatBackground {*/
  /*position:fixed;*/
  /*width:100%;*/
  /*height:100%;*/
  /*top:0px;*/
  /*left:0px;*/
/*}*/

/*.chatImageBackground {*/
  /*position:absolute;*/
  /*top:0px;*/
  /*left:0px;*/
  /*background-image:url(chatbg@2x.png);*/
  /*background-size:320px 400px;*/
  /*width:100%;*/
  /*height:200%;*/
/*}*/

/*.chatColorBackground {*/
  /*position:absolute;*/
  /*top:0px;*/
  /*left:0px;*/
  /*width:100%;*/
  /*height:200%;*/
  /*background-color:#4e76c1;*/
/*}*/

.chatContainer {
  background-color:#4e76c1;
}

.chatScreen {
  background-image:url(chatbg@2x.png);
  background-size:320px 400px;
  background-attachment:fixed;

}

.dateContainer {
  overflow:hidden;
  margin:5px 0px;
}

.dateInnerContainer {
  float:left;
  width:100%;
  margin-right:-5px;
}

.dateLeftContainer {
  margin-right:10px;
}

.dateLeftCol {
  float:left;
  width:5px;
  display:inline;
}

.date {
  width:100%;
  text-align:center;
  background-color: rgba(0,0,0,0.3);
  font-size:12px;
  padding:5px 0px;
  border-radius:13px;
  color:white;
  margin-left:5px;
}

.dateRightCol {
  float:right;
  width:5px;
}

.messageContainer {
  overflow:hidden;
}

.messageDiv {
  max-width:67%;
}

.messageDiv.isMine{
  float:right;
}

.messageDiv.isNotMine {
  float:left;
}

.message{
  font-size:15px;
}

.time {
  text-align:center;
  width:110px;
  height:16px;
  background-color: rgba(0,0,0,0.3);
  color:white;
  font-size:11px;
  border-radius:8px;
  line-height:17px;
}


.isNotMine .message{
  position:relative;
  z-index: 9;
  padding:12px 10px 12px 15px;
  margin-left:10px;
}

.isNotMine .message::before {
  content: "";

  position:absolute;
  z-index: -1;

  top: 5px;
  right: 2px;
  bottom: 5px;
  left: 0px;
  border-width: 13px 15px 16px 17px;
  border-image: url(pop_white.png) 13 15 16 17 fill repeat;
  -moz-border-image: url(pop_white.png) 13 15 16 17 fill repeat;
  -webkit-border-image: -webkit-image-set(url(pop_white.png) 1x, url(pop_white@2x.png) 2x) 13 15 16 17 fill repeat;
  -o-border-image: url(pop_white.png) 13 15 16 17 fill repeat;
  border-style: solid;
}

.isNotMine .name {
  margin:10px 10px -3px 18px;
  font-size:17px;
  text-shadow: 0px -1px gray;
}

.isNotMine .time {
  float:right;
  margin-top:-28px;
  margin-right:-78px;
}

.isMine .time {
  float:left;
  margin-top:-28px;
  margin-left:-78px;
}

.isMine .message{
  position:relative;
  z-index: 9;
  padding:11px 13px 12px 14px;
  margin-right:10px;
}

.isMine .message::before {
  
  content: "";

  position:absolute;
  z-index: -1;

  top: 5px;
  right: 0px;
  bottom: 5px;
  left: 3px;
  
  border-width: 13px 18px 15px 15px;
  border-image: url(pop_yellow.png) 13 18 15 15 fill repeat;
  -moz-border-image: url(pop_yellow.png) 13 18 15 15 fill repeat;
  -webkit-border-image: -webkit-image-set(url(pop_yellow.png) 1x, url(pop_yellow@2x.png) 2x) 13 18 15 15 fill repeat;
  -o-border-image: url(pop_yellow.png) 13 18 15 15 fill repeat;
  border-style: solid;
}



/*.emoticon-01{ background-position: 0 0; width: 27px; height: 27px; } */
/*.emoticon-02{ background-position: 0 -95px; width: 27px; height: 27px; } */
/*.emoticon-03{ background-position: 0 -190px; width: 27px; height: 27px; } */
/*.emoticon-04{ background-position: 0 -285px; width: 27px; height: 27px; } */
/*.emoticon-05{ background-position: 0 -380px; width: 27px; height: 27px; } */
/*.emoticon-06{ background-position: 0 -475px; width: 27px; height: 27px; } */
/*.emoticon-07{ background-position: 0 -570px; width: 27px; height: 27px; } */
/*.emoticon-08{ background-position: 0 -665px; width: 27px; height: 27px; } */
/*.emoticon-09{ background-position: 0 -760px; width: 27px; height: 27px; } */
/*.emoticon-10{ background-position: 0 -855px; width: 27px; height: 27px; } */
/*.emoticon-11{ background-position: 0 -950px; width: 27px; height: 27px; } */
/*.emoticon-12{ background-position: 0 -1027px; width: 27px; height: 27px; } */
/*.emoticon-13{ background-position: 0 -1140px; width: 27px; height: 27px; } */
/*.emoticon-14{ background-position: 0 -1235px; width: 27px; height: 27px; } */
/*.emoticon-15{ background-position: 0 -1330px; width: 27px; height: 27px; } */
/*.emoticon-16{ background-position: 0 -1425px; width: 27px; height: 27px; } */
/*.emoticon-17{ background-position: 0 -1520px; width: 27px; height: 27px; } */
/*.emoticon-18{ background-position: 0 -1615px; width: 27px; height: 27px; } */
/*.emoticon-19{ background-position: 0 -1710px; width: 27px; height: 27px; } */
/*.emoticon-20{ background-position: 0 -1805px; width: 27px; height: 27px; } */
/*.emoticon-21{ background-position: 0 -1900px; width: 27px; height: 27px; } */
/*.emoticon-22{ background-position: -95px 0; width: 27px; height: 27px; } */
/*.emoticon-23{ background-position: -95px -95px; width: 27px; height: 27px; } */
/*.emoticon-24{ background-position: -95px -190px; width: 27px; height: 27px; } */
/*.emoticon-25{ background-position: -95px -285px; width: 27px; height: 27px; } */
/*.emoticon-26{ background-position: -95px -380px; width: 27px; height: 27px; } */
/*.emoticon-27{ background-position: -95px -475px; width: 27px; height: 27px; } */
/*.emoticon-28{ background-position: -95px -570px; width: 27px; height: 27px; } */
/*.emoticon-29{ background-position: -95px -665px; width: 27px; height: 27px; } */
/*.emoticon-30{ background-position: -95px -760px; width: 27px; height: 27px; } */
/*.emoticon-31{ background-position: -95px -855px; width: 27px; height: 27px; } */
/*.emoticon-32{ background-position: -95px -950px; width: 27px; height: 27px; } */
/*.emoticon-33{ background-position: -95px -1027px; width: 27px; height: 27px; } */
/*.emoticon-34{ background-position: -95px -1140px; width: 27px; height: 27px; } */
/*.emoticon-35{ background-position: -95px -1235px; width: 27px; height: 27px; } */
/*.emoticon-36{ background-position: -95px -1330px; width: 27px; height: 27px; } */
/*.emoticon-37{ background-position: -95px -1425px; width: 27px; height: 27px; } */
/*.emoticon-38{ background-position: -95px -1520px; width: 27px; height: 27px; } */
/*.emoticon-39{ background-position: -95px -1615px; width: 27px; height: 27px; } */
/*.emoticon-40{ background-position: -95px -1710px; width: 27px; height: 27px; } */
/*.emoticon-41{ background-position: -95px -1805px; width: 27px; height: 27px; } */
/*.emoticon-42{ background-position: -95px -1900px; width: 27px; height: 27px; } */
/*.emoticon-43{ background-position: -190px 0; width: 27px; height: 27px; } */
/*.emoticon-44{ background-position: -190px -95px; width: 27px; height: 27px; } */
/*.emoticon-45{ background-position: -190px -190px; width: 27px; height: 27px; } */
/*.emoticon-46{ background-position: -190px -285px; width: 27px; height: 27px; } */
/*.emoticon-47{ background-position: -190px -380px; width: 27px; height: 27px; } */
/*.emoticon-48{ background-position: -190px -475px; width: 27px; height: 27px; } */
/*.emoticon-49{ background-position: -190px -570px; width: 27px; height: 27px; } */
/*.emoticon-50{ background-position: -190px -665px; width: 27px; height: 27px; } */
/*.emoticon-51{ background-position: -190px -760px; width: 27px; height: 27px; } */
/*.emoticon-52{ background-position: -190px -855px; width: 27px; height: 27px; } */
/*.emoticon-53{ background-position: -190px -950px; width: 27px; height: 27px; } */
/*.emoticon-54{ background-position: -190px -1027px; width: 27px; height: 27px; } */
/*.emoticon-55{ background-position: -190px -1140px; width: 27px; height: 27px; } */
/*.emoticon-56{ background-position: -190px -1235px; width: 27px; height: 27px; } */
/*.emoticon-57{ background-position: -190px -1330px; width: 27px; height: 27px; } */
/*.emoticon-58{ background-position: -190px -1425px; width: 27px; height: 27px; } */
/*.emoticon-59{ background-position: -190px -1520px; width: 27px; height: 27px; } */
/*.emoticon-60{ background-position: -190px -1615px; width: 27px; height: 27px; } */
/*.emoticon-61{ background-position: -190px -1710px; width: 27px; height: 27px; } */
/*.emoticon-62{ background-position: -190px -1805px; width: 27px; height: 27px; } */
/*.emoticon-63{ background-position: -190px -1900px; width: 27px; height: 27px; } */
/*.emoticon-64{ background-position: -285px 0; width: 27px; height: 27px; } */
/*.emoticon-65{ background-position: -285px -95px; width: 27px; height: 27px; } */
/*.emoticon-66{ background-position: -285px -190px; width: 27px; height: 27px; } */
/*.emoticon-67{ background-position: -285px -285px; width: 27px; height: 27px; } */
/*.emoticon-68{ background-position: -285px -380px; width: 27px; height: 27px; } */
/*.emoticon-69{ background-position: -285px -475px; width: 27px; height: 27px; } */
/*.emoticon-70{ background-position: -285px -570px; width: 27px; height: 27px; } */
/*.emoticon-71{ background-position: -285px -665px; width: 27px; height: 27px; } */
/*.emoticon-72{ background-position: -285px -760px; width: 27px; height: 27px; } */
/*.emoticon-73{ background-position: -285px -855px; width: 27px; height: 27px; } */
/*.emoticon-74{ background-position: -285px -950px; width: 27px; height: 27px; } */
/*.emoticon-75{ background-position: -285px -1027px; width: 27px; height: 27px; } */
/*.emoticon-76{ background-position: -285px -1140px; width: 27px; height: 27px; } */
/*.emoticon-77{ background-position: -285px -1235px; width: 27px; height: 27px; } */
/*.emoticon-78{ background-position: -285px -1330px; width: 27px; height: 27px; } */
/*.emoticon-79{ background-position: -285px -1425px; width: 27px; height: 27px; } */
/*.emoticon-80{ background-position: -285px -1520px; width: 27px; height: 27px; } */
/*.emoticon-81{ background-position: -285px -1615px; width: 27px; height: 27px; } */
/*.emoticon-82{ background-position: -285px -1710px; width: 27px; height: 27px; } */
/*.emoticon {background-image: url(emoticons.png);}*/
