body {
  font-family: 'Apple SD Gothic Neo', '나눔고딕', '맑은 고딕', '굴림', sans-serif;
}

#loginScreen {
  text-align:center;
}

#user_username {
  text-align:center;
  width:70%;
  height:30px;
  font-size:23px;
}

#user_password {
  text-align:center;
  width:70%;
  height:30px;
  font-size:23px;
}

.message a {
  text-decoration:none;
  color:blue;

}

.messageImage img {
  max-width:117px;
  max-height:117px;
  border-radius:7px;
  vertical-align:inherit;
}

#loginButton input[type="submit"] {
  width:150px;
  height:35px;
}

.chatContainer {
  position:absolute;
  width:100%;
  left: 0px;
  top: 0px;
}

.chatContainer p {
  margin:0px;
}

.emoticon {
  margin-bottom:-5px;
}

.emoticon img{
  width:20px;
  height:auto;
  vertical-align:middle;
  margin-top:-4px;
}

.chatContainer {
  width:320px;
}

.chatScreen {
  background-color:#4e76c1;
  border-radius:3px;
  word-wrap:break-word;
}

.chat_list {
  background-image:url(chatbg@2x.png);
  background-size:320px 400px;
  background-attachment:fixed;
  padding:4px 0px;
}

.infoContainer {
  overflow:hidden;
  margin:5px 0px;
}

.infoInnerContainer {
  float:left;
  width:100%;
  margin-right:-5px;
}

.infoLeftContainer {
  margin-right:10px;
}

.infoLeftCol {
  float:left;
  width:5px;
  display:inline;
}

.info {
  width:100%;
  text-align:center;
  background-color: rgba(0,0,0,0.3);
  font-size:12px;
  padding:5px 0px;
  border-radius:13px;
  color:white;
  margin-left:5px;
  line-height:12px;
}

.infoRightCol {
  float:right;
  width:5px;
}

.messageContainer {
  overflow:hidden;
}

.messageSelected {
  background-color: #cec;
}

.messageDiv.isMine {
  max-width:65%;
  float:right;
}

.messageDiv.isNotMine {
  max-width:74%;
  float:left;
}

.radioDiv {
  float:left;
  display: none;
}

.radioDiv input {
  margin: 5px;
}

.editDiv {
  float:left;
  display: none;
}

.profilePicContainer {
  width:32px;
  height:33px;
  float:left;
  background-color: white;
  margin-left:4px;
  margin-top:2px;
  border-radius:2px;
  box-shadow:0px 1px 1px gray;

}

.profilePic {
  width:30px;
  height:30px;
  float:left;
  background-color: white;
  margin-left:1px;
  margin-top:1px;
  border-radius:2px;
  box-shadow:0px 1px 1px gray;
  background-image:url(profileDefault.png);
  background-size:30px 30px;
}

.name {
  margin:2px -10000px -6px 12px;
  font-size:15px;
  text-shadow: 0px -1px gray;
}

.rightPart {
  margin-left:33px;
}

.textMessage{
  font-size:14.5px;
  margin-bottom: 2px;
  line-height:130%;
}

.time {
  width:71px;
  height:15px;
  background-color: rgba(0,0,0,0.3);
  color:white;
  font-size:10px;
  border-radius:8px;
  line-height:16px;
}

.audioMessage img{
  width:50px;
}

.videoMessage img{
  width:50px;
}

.isNotMine .imageMessage{
  position:relative;
  z-index: 9;
  padding:10px 10px 7px 9px;
  margin-right:5px;
}

.isNotMine .audioMessage{
  position:relative;
  z-index: 9;
  padding:19px 18px 19px 20px;
  margin-left:4px;
}

.isNotMine .textMessage{
  position:relative;
  z-index: 9;
  padding:10px 13px 12px 14px;
  margin-left:4px;
}

.isNotMine .message::before {
  content: "";

  position:absolute;
  z-index: -1;

  top: 5px;
  right: 2px;
  bottom: 5px;
  left: 0px;
  border-width: 13px 15px 16px 17px;
  border-image: url(pop_white.png) 13 15 16 17 fill repeat;
  -moz-border-image: url(pop_white.png) 13 15 16 17 fill repeat;
  /*-webkit-border-image: -webkit-image-set(url(pop_white.png) 1x, url(pop_white@2x.png) 2x) 13 15 16 17 fill repeat;*/
  -webkit-border-image: url(pop_white.png) 13 15 16 17 repeat;
  -o-border-image: url(pop_white.png) 13 15 16 17 fill repeat;
  border-style: solid;
}

.isNotMine .time {
  float:right;
  margin-top:-30px;
  margin-right:-71px;
  padding-left:15px;
}

.isMine .time {
  float:left;
  margin-top:-30px;
  margin-left:-71px;
  padding-right:15px;
  text-align:right;
}

.isMine .textMessage{
  position:relative;
  z-index: 9;
  padding:10px 13px 12px 14px;
  margin-right:5px;
}

.isMine .audioMessage{
  position:relative;
  z-index: 9;
  padding:19px 18px 19px 20px;
  margin-left:4px;
}

.isMine .videoMessage{
  position:relative;
  z-index: 9;
  padding:13px 13px 14px 14px;
  margin-right:5px;
}

.isMine .imageMessage{
  position:relative;
  z-index: 9;
  padding:10px 10px 7px 9px;
  margin-right:5px;
}


.isMine .message::before {
  
  content: "";

  position:absolute;
  z-index: -1;

  top: 5px;
  right: 0px;
  bottom: 5px;
  left: 3px;
  
  border-width: 13px 18px 15px 15px;
  border-image: url(pop_yellow.png) 13 18 15 15 fill repeat;
  -moz-border-image: url(pop_yellow.png) 13 18 15 15 fill repeat;
  /*-webkit-border-image: -webkit-image-set(url(pop_yellow.png) 1x, url(pop_yellow@2x.png) 2x) 13 18 15 15 fill repeat;*/
  -webkit-border-image: url(pop_yellow.png) 13 18 15 15 repeat;
  -o-border-image: url(pop_yellow.png) 13 18 15 15 fill repeat;
  border-style: solid;
}
