body {
  font-family: sans-serif;
}

#loginScreen {
  text-align:center;
}

#user_username {
  text-align:center;
  width:70%;
  height:30px;
  font-size:23px;
}

#user_password {
  text-align:center;
  width:70%;
  height:30px;
  font-size:23px;
}

#loginButton input[type="submit"] {
  width:150px;
  height:35px;
}

.chatContainer {
  position:absolute;
  width:100%;
  left: 0px;
  top: 0px;
  word-wrap:break-word;
}

.chatContainer p {
  margin:0px;
}

/*.chatBackground {*/
  /*position:fixed;*/
  /*width:100%;*/
  /*height:100%;*/
  /*top:0px;*/
  /*left:0px;*/
/*}*/

/*.chatImageBackground {*/
  /*position:absolute;*/
  /*top:0px;*/
  /*left:0px;*/
  /*background-image:url(chatbg@2x.png);*/
  /*background-size:320px 400px;*/
  /*width:100%;*/
  /*height:200%;*/
/*}*/

/*.chatColorBackground {*/
  /*position:absolute;*/
  /*top:0px;*/
  /*left:0px;*/
  /*width:100%;*/
  /*height:200%;*/
  /*background-color:#4e76c1;*/
/*}*/

.chatContainer {
  background-color:#4e76c1;
}

.chatScreen {
  background-image:url(chatbg@2x.png);
  background-size:320px 400px;
  background-attachment:fixed;

}

/*.dateContainer {*/
  /*float:left; */
  /*width:100%; */
  /*margin-right:-100px;*/
/*}*/

/*.dateLeftContainer {*/
  /*margin-right:110px;*/
/*}*/

/*.dateLeftCol {*/
  /*float:left;*/
  /*width:100px;*/
  /*display:inline;*/
/*}*/

/*.date {*/
  /*width:100%;*/
  /*text-align:center;*/
  /*background-color: rgba(0,0,0,0.3);*/
  /*font-size:14px;*/
  /*padding:5px 0px;*/
  /*border-radius:13px;*/
  /*color:white;*/
  /*margin-left:110px;*/
/*}*/

/*.dateRightCol {*/
  /*float:right;*/
  /*width:100px;*/
/*}*/

.messageContainer {
  overflow:auto;
}

.messageDiv {
  max-width:67%;
}

.messageDiv.isMine{
  float:right;
}

.messageDiv.isNotMine {
  float:left;
}

.message{
  font-size:15px;
}

.time {
  text-align:center;
  width:110px;
  height:16px;
  background-color: rgba(0,0,0,0.3);
  color:white;
  font-size:11px;
  border-radius:8px;
  line-height:16px;
}


.isNotMine .message{
  position:relative;
  z-index: 9;
  padding:12px 10px 12px 15px;
  margin-left:10px;
}

.isNotMine .message::before {
  content: "";

  position:absolute;
  z-index: -1;

  top: 5px;
  right: 2px;
  bottom: 5px;
  left: 0px;
  border-width: 13px 15px 16px 17px;
  border-image: url(pop_white.png) 13 15 16 17 fill repeat;
  -moz-border-image: url(pop_white.png) 13 15 16 17 repeat;
  -webkit-border-image: -webkit-image-set(url(pop_white.png) 1x, url(pop_white@2x.png) 2x) 13 15 16 17 repeat;
  -o-border-image: url(pop_white.png) 13 15 16 17 repeat;
}

.isNotMine .name {
  margin:10px 10px -3px 18px;
  font-size:17px;
  text-shadow: 0px -1px gray;
}

.isNotMine .time {
  float:right;
  margin-top:-28px;
  margin-right:-78px;
}

.isMine .time {
  float:left;
  margin-top:-28px;
  margin-left:-78px;
}

.isMine .message{
  position:relative;
  z-index: 9;
  padding:11px 13px 12px 14px;
  margin-right:10px;
}

.isMine .message::before {
  
  content: "";

  position:absolute;
  z-index: -1;

  top: 5px;
  right: 0px;
  bottom: 5px;
  left: 3px;
  
  border-width: 13px 18px 15px 15px;
  border-image: url(pop_yellow.png) 13 18 15 15 fill repeat;
  -moz-border-image: url(pop_yellow.png) 13 18 15 15 repeat;
  -webkit-border-image: -webkit-image-set(url(pop_yellow.png) 1x, url(pop_yellow@2x.png) 2x) 13 18 15 15 repeat;
  -o-border-image: url(pop_yellow.png) 13 18 15 15 repeat;
}
